<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news_post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @news_post.body %>
</p>

<%= link_to 'Edit', edit_news_post_path(@news_post) %> |
<%= link_to 'Back', news_posts_path %>
