<body class='play bg_play' id='play'>
	<%= javascript_tag do %>
	window.userinfo = {
		name: '<%= current_user.username %>',
		picture: '<%= current_user.avatar.url(:thumb) %>',
		faction_id: <%= current_user.faction_id %>,
		resources: '<%= current_user.gold %>',
		gem_placeholder: '<%= current_user.gems %>'
	};
	<% end %>
	<% if current_user.faction_id == 1 %>
	<div class='local'>
		<h1>Please choose a faction</h1>
		<table>
			<tbody>
				<td><%= link_to Faction.find(2).faction_name, faction_select_path(user: current_user, faction: Faction.find(2)), method: :put %></td>
				<td><%= link_to Faction.find(3).faction_name, faction_select_path(user: current_user, faction: Faction.find(3)), method: :put %></td>
				<td><%= link_to Faction.find(4).faction_name, faction_select_path(user: current_user, faction: Faction.find(4)), method: :put %></td>
			</tbody>
		</table>
	</div>
	<% else %>
	<div class='local wrap play_grid'>
		<canvas class="myCanvas" id="myCanvas" resize></canvas>
		<div class="status_bar">
			<div class="profile_pic"></div>
			<div class="username"><span></span></div>
		</div>
		<div class="clusters"></div>
		<div class="quest_pane"></div>
		<div class="search_bar">
			<form class="search_form">
				<input type="text" class="search_elem" placeholder="Go to Node">
			</form>
		</div>
		<div id="info_pane">
			<div class="nameplate"><span>Node: </span><span id="node_number"></span></div>
			<div class="faction_name"><span id="faction_name"></span></div>
			<div class="faction_icon" id="faction_icon_n"></div>
			<div class="faction_icon" id="faction_icon_r"></div>
			<div class="faction_icon" id="faction_icon_g"></div>
			<div class="faction_icon" id="faction_icon_b"></div>
			<div class="faction_icon" id="faction_icon_bg"></div>
			<div class="nodeinfo">
				<div style="grid-area: field_owner"><span>Owner: </span><span id="node_owner"></span><br></div>
				<div style="grid-area: field_tier"><span>Tier: </span><span id="node_tier"></span><br></div>
				<div style="grid-area: field_function"><span>Function: </span><span id="node_function"></span><br></div>
				<div style="grid-area: field_connections"><span>Connections: </span><span id="node_connections"></span><br></div>
				<div style="grid-area: field_value"><span>Value: </span><span id="node_value"></span><br></div>
				<div style="grid-area: field_contention"><span>Contention: </span><span id="node_contention"></span></div>
			</div>
			<div class="cluster_info"></div>
		</div>
		<div id="actionbar">
      <div class="action_button_container" id="action_button1">
        <div class="action_button"></div>
      </div>
      <div class="action_button_container" id="action_button2">
        <div class="action_button"></div>
      </div>
      <div class="action_button_container" id="action_button3">
        <div class="action_button"></div>
      </div>
      <div class="action_button_container" id="action_button4">
        <div class="action_button"></div>
      </div>
      <div class="action_button_container" id="action_button5">
        <div class="action_button"></div>
      </div>
      <div class="action_button_container" id="action_button6">
        <div class="action_button"></div>
      </div>
      <div class="action_button_container" id="action_button7">
        <div class="action_button"></div>
      </div>
      <div class="actionbar_bg"></div>
		</div>
		<div class="tabs">
			<div class="quest_tab"><div>Quests</div></div>
			<div class="chat_tab"><div>Chat</div></div>
		</div>
		<div class="chat_pane">
			<div class="chat_options">
			</div>
			<div class="chat_frame">
				<div id="messages" data-chat-room-id="<%= @chat_room.id %>">
					<%= render @chat_room.messages %>
				</div>
			</div>
			<%= form_for @message, url: '#' do |f| %>
				<div class="form-group">
					<%= f.text_area :body, class: 'form-control' %>
					<%= f.submit 'Post', class: 'btn chat_button' %>
				</div>
			<% end %>
		</div>
	</div>
	<% end %>
</body>
