<body class='play bg_play' id='play'>
	<%= javascript_tag do %>
	window.userinfo = {
		name: '<%= current_user.username %>',
		picture: '<%= current_user.avatar.url(:thumb) %>',
		faction_id: <%= current_user.faction_id %>,
		resources: '<%= current_user.gold %>',
		gem_placeholder: '<%= current_user.gems %>'
	};
	<% end %>
	<% if current_user.faction_id == 1 %>
	<div class='local'>
		<h1>Please choose a faction</h1>
		<table>
			<tbody>
				<td><%= link_to Faction.find(2).faction_name, faction_select_path(user: current_user, faction: Faction.find(2)), method: :put %></td>
				<td><%= link_to Faction.find(3).faction_name, faction_select_path(user: current_user, faction: Faction.find(3)), method: :put %></td>
				<td><%= link_to Faction.find(4).faction_name, faction_select_path(user: current_user, faction: Faction.find(4)), method: :put %></td>
			</tbody>
		</table>
	</div>
	<% else %>
	<div class='local wrap play_grid'>
		<canvas class="myCanvas" id="myCanvas" resize></canvas>
		<div class="status_bar">
			<div class="profile_pic"></div>
			<div class="username"><span></span></div>
		</div>
		<div class="clusters"></div>
		<div class="quest_pane"></div>
		<div class="search_bar">
			<div>

			</div>
		</div>
		<div id="info_pane">
			<div class="nameplate"><span>Node: </span><span id="node_number"></span></div>
			<div class="faction_name"><span id="faction_name"></span></div>
			<div class="faction_icon"><img id="faction_icon"></img></div>
			<div class="nodeinfo">
				<span>Owner: </span><span id="node_owner"></span><br>
				<span>Tier: </span><span id="node_tier"></span><br>
				<span>Function: </span><span id="node_function"></span><br>
				<span>Connections: </span><span id="node_connections"></span><br>
				<span>Value: </span><span id="node_value"></span><br>
				<span>Contention: </span><span id="node_contention"></span>
			</div>
			<div class="cluster_info"></div>
		</div>
		<div class="tabs">
			<div class="quest_tab"></div>
			<div class="chat_tab"></div>
		</div>
		<div class="chat_pane">
			<div class="chat_element"></div>
		</div>
	</div>
	<% end %>
</body>
