<%= stylesheet_link_tag "site", media: "all" %>
<%= javascript_include_tag "site" %>
<body>
	<div class="wrapper">
	<table id="map">
		<% @classes.each do |c| %>
		<tr>
			<td class="node" id="1"><div class=<%= c %>>
				<div class="num">1</div></div></td>
			<td class="node" id="2"><div class=<%= c %>>
				<div class="num">2</div></div></td>
			<td class="node" id="3"><div class=<%= c %>>
				<div class="num">3</div></div></td>
			<td class="node" id="4"><div class=<%= c %>>
				<div class="num">4</div></div></td>
			<td class="node" id="5"><div class=<%= c %>>
				<div class="num">5</div></div></td>
			<td class="node" id="6"><div class=<%= c %>>
				<div class="num">6</div></div></td>
			<td class="node" id="7"><div class=<%= c %>>
				<div class="num">7</div></div></td>
			<td class="node" id="8"><div class=<%= c %>>
				<div class="num">8</div></div></td>
		</tr>
		<tr>
			<td class="node" id="9"><div class=<%= c %>>
				<div class="num">9</div></div></td>
			<td class="node" id="10"><div class=<%= c %>>
				<div class="num">10</div></div></td>
			<td class="node" id="11"><div class=<%= c %>>
				<div class="num">11</div></div></td>
			<td class="node" id="12"><div class=<%= c %>>
				<div class="num">12</div></div></td>
			<td class="node" id="13"><div class=<%= c %>>
				<div class="num">13</div></div></td>
			<td class="node" id="14"><div class=<%= c %>>
				<div class="num">14</div></div></td>
			<td class="node" id="15"><div class=<%= c %>>
				<div class="num">15</div></div></td>
			<td class="node" id="16"><div class=<%= c %>>
				<div class="num">16</div></div></td>
		</tr>
		<tr>
			<td class="node" id="17"><div class=<%= c %>>
				<div class="num">17</div></div></td>
			<td class="node" id="18"><div class=<%= c %>>
				<div class="num">18</div></div></td>
			<td class="node" id="19"><div class=<%= c %>>
				<div class="num">19</div></div></td>
			<td class="node" id="20"><div class=<%= c %>>
				<div class="num">20</div></div></td>
			<td class="node" id="21"><div class=<%= c %>>
				<div class="num">21</div></div></td>
			<td class="node" id="22"><div class=<%= c %>>
				<div class="num">22</div></div></td>
			<td class="node" id="23"><div class=<%= c %>>
				<div class="num">23</div></div></td>
			<td class="node" id="24"><div class=<%= c %>>
				<div class="num">24</div></div></td>
		</tr>
		<tr>
			<td class="node" id="25"><div class=<%= c %>>
				<div class="num">25</div></div></td>
			<td class="node" id="26"><div class=<%= c %>>
				<div class="num">26</div></div></td>
			<td class="node" id="27"><div class=<%= c %>>
				<div class="num">27</div></div></td>
			<td class="node" id="28"><div class=<%= c %>>
				<div class="num">28</div></div></td>
			<td class="node" id="29"><div class=<%= c %>>
				<div class="num">29</div></div></td>
			<td class="node" id="30"><div class=<%= c %>>
				<div class="num">30</div></div></td>
			<td class="node" id="31"><div class=<%= c %>>
				<div class="num">31</div></div></td>
			<td class="node" id="32"><div class=<%= c %>>
				<div class="num">32</div></div></td>
		</tr>
		<% end %>
	</table>
	</div>
	<div class="option first" id="attack"><div class="smallwrapp"><div class="elem small"><span id="mid">A</span></div></div></div>
	<div class="option second" id="give"><div class="smallwrapp"><div class="elem small"><span id="mid">G</span></div></div></div>
	<div class="option third" id="switch"><div class="smallwrapp"><div class="elem small"><span id="mid">S</span></div></div></div>
</body>
