<p id="notice"><%= notice %></p>

<h1>Listing Data Nodes</h1>

<table>
  <thead>
    <tr>
      <th>Value</th>
      <th>Faction</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @data_nodes.each do |data_node| %>
      <tr>
        <td><%= data_node.value %></td>
        <td><%= data_node.faction_id %></td>
        <td><%= link_to 'Show', data_node %></td>
        <td><%= link_to 'Edit', edit_data_node_path(data_node) %></td>
        <td><%= link_to 'Destroy', data_node, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data node', new_data_node_path %>
