<!DOCTYPE html>
<html>
<head>
	<title>Font of Data</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => "reload" %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => "reload" %>
	<%= csrf_meta_tags %>
</head>
<body>
<div class="container topnav fod_nav" style="grid-area: topnav">
	<a class="nav_hover navbar-brand" style="color: #B9D6F2; width: 100%; display: flex;" href="/">Font of Data</a>
	<div class="nav_hover" style="grid-column: play"><a class="nav-link noselect" style="color: #B9D6F2" href="/play">Play</a></div>
	<div class="nav_hover" style="grid-column: world"><a class="nav-link noselect" style="color: #B9D6F2" href="/story/index">World</a></div>
	<div class="nav_hover" style="grid-column: about"><a class="nav-link noselect" style="color: #B9D6F2" href="/about/index">About</a></div>
	<div class="nav_hover" style="grid-column: faq"><a class="nav-link noselect" style="color: #B9D6F2" href="/faq/index">FAQ</a></div>
	<ul class="nav navbar-nav nav_hover" style="grid-column: account; display: flex;">
		<div class="nav-item dropdown">
			<a class="nav-link noselect dropdown-toggle" style="color: #B9D6F2" id="accountMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
			<div class="dropdown-menu fod_drop" style="margin-right: 4px;" aria-labelledby="accountMenu">
				<% if user_signed_in? %>
					
					<a class="dropdown-item" style="color: #B9D6F2" href="/user/settings">User settings</a>
					<%= link_to 'Logout', destroy_user_session_path, {style: "color: #B9D6F2", class: "dropdown-item", method: :delete} %>
				<% else %>
					<%= link_to 'Sign In', new_user_session_path, {style: "color: #B9D6F2", class: "dropdown-item"} %>
					<%= link_to 'Sign Up', new_user_registration_path, {style: "color: #B9D6F2", class: "dropdown-item"} %>
				<% end %>
			</div>
		</div>
	</ul>
</div>
<%# 
	yeild is the contents of the view and everything
	above is the header displayed on every page and
	everything below is a footer
%>
<%= yield %>
</body>
</html>
