<div class="local">
	<table>
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
				<th>email</th>
				<th>faction</th>
				<th>admin</th>
				<th>
					<th colspan="3"></th>
				</tr>
			</thead>

			<tbody>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= user.username %></td>
					<td><%= user.email %></td>
					<td><%= user.faction.faction_name %></td>
					<td><%= user.user_access %></td>
					<td><%= link_to 'Show Profile', user %></td>
					<td>
						<table>
							<th colspan="3">change faction</th>
							<tbody>
								<td><%= link_to Faction.find(2).faction_name, faction_select_path(user: user, faction: Faction.find(2)), method: :put %></td>
								<td><%= link_to Faction.find(3).faction_name, faction_select_path(user: user, faction: Faction.find(3)), method: :put %></td>
								<td><%= link_to Faction.find(4).faction_name, faction_select_path(user: user, faction: Faction.find(4)), method: :put %></td>
							</tbody>
						</table>
					</td>
					<% unless current_user&.user_access_before_type_cast < 2 %>
					<td><%= link_to 'Delete User', user_registration_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
					<td>
						<table>
							<thead>change admin status</thead>
							<tbody>
								<% if user&.user_access_before_type_cast > 0 %>
									<td><%= link_to "remove status", make_user_admin_path(user: user, access: 0), method: :put %></td>
								<% end %>
								<% if user&.user_access_before_type_cast != 1 %>
									<td><%= link_to "sub-admin", make_user_admin_path(user: user, access: 1), method: :put %></td>
								<% end %>
								<% if user&.user_access_before_type_cast != 2 %>
									<td><%= link_to "admin", make_user_admin_path(user: user, access: 2), method: :put %></td>
								<% end %>
							</tbody>
						</table>
					</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
